<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" package="com.vk.messenger" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.vk.usersstore.permission.SAVE"/>
    <uses-permission android:name="com.vk.usersstore.permission.LOAD"/>
    <permission android:name="com.vkontakte.androidd.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <permission android:name="com.vkontakte.androidd.permission.ACCESS_DATA" android:protectionLevel="signature"/>
    <uses-permission android:name="com.vkontakte.androidd.permission.ACCESS_DATA"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON"/>
    <application android:allowBackup="false" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher_me" android:label="@string/im_app_name" android:largeHeap="true" android:name="com.vk.messenger.ImApplication" android:networkSecurityConfig="@xml/network_security_config" android:resizeableActivity="true" android:roundIcon="@drawable/ic_launcher_me_round" android:supportsRtl="true" android:theme="@style/VkIm.Theme.VkMe.Dark">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAvrvAACdzmgDYFM9hvJS88KdSlQsafID0"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/cornflower_blue"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/im_app_name" android:launchMode="singleTask" android:name="com.vk.messenger.ui.MainActivity" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.vk.messenger.ACTION_DIALOGS"/>
                <action android:name="com.vk.messenger.ACTION_CHAT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.vk.messenger.ui.ImActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="orientation" android:excludeFromRecents="true" android:label="" android:name="com.vk.messenger.ui.ImChatInviteActivity" android:theme="@style/VkIm.Theme.ImChatInvite" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:allowTaskReparenting="false" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:finishOnTaskLaunch="true" android:name="com.vk.messenger.ui.share.ImShareActivity" android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="@string/im_app_name">
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleInstance" android:name="com.vk.pushes.PushOpenActivity" android:theme="@style/PushOpenTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/video" android:name="com.vk.video.VideoActivity" android:theme="@style/VideoPlayerTranslucentStyle"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/video" android:name="com.vkontakte.android.activities.YouTubeVideoPlayerActivity" android:theme="@style/VideoPlayerTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/video" android:name="com.vkontakte.android.activities.VideoEmbedPlayerActivity" android:screenOrientation="sensorLandscape" android:theme="@style/VideoPlayerTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/live" android:name="com.vkontakte.android.live.LivePlayerActivity" android:theme="@style/LivePlayerActivityTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="" android:name="com.vkontakte.android.FragmentDialogActivity" android:theme="@style/BaseStyle.Dialog"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/report_content" android:name="com.vkontakte.android.ReportContentActivity" android:theme="@style/TranslucentStyle"/>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:label="@string/im_app_name" android:launchMode="singleInstance" android:name="com.vk.voip.VoipCallActivity" android:screenOrientation="portrait" android:taskAffinity="com.vkontakte.android.voip" android:theme="@style/BaseStyle"/>
        <activity android:label="@string/im_app_name" android:name="com.vk.music.AudioPlayerActivity" android:theme="@style/BaseStyle.PopupIfTablet"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.vk.stories.CreateStoryActivity" android:screenOrientation="portrait" android:theme="@style/StoryFullscreenActivityTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.vk.stories.ShareStoryActivity" android:screenOrientation="portrait" android:theme="@style/StoryActivityTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.vk.stories.StorySettingsActivity" android:screenOrientation="portrait" android:theme="@style/StoryActivityTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.vk.stories.StoryViewActivity" android:screenOrientation="portrait" android:theme="@style/StoryFullscreenActivityTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.vk.attachpicker.PhotoVideoAttachActivity" android:theme="@style/PickerPhotoVideoActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="" android:name="com.vkontakte.android.TabletDialogActivity" android:theme="@style/BaseStyle.PopupIfTablet"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="" android:name="com.vkontakte.android.CaptchaActivity" android:theme="@style/TranslucentStyle"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="@string/message" android:name="com.vkontakte.android.ValidationActivity" android:theme="@style/BaseStyle.Validation"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="" android:name="com.vkontakte.android.ConfirmationActivity" android:theme="@style/TranslucentStyle"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:label="" android:name="com.vk.avatarpicker.AvatarPickerActivity" android:theme="@style/AvatarPickerStyle"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleInstance" android:name="com.vk.links.ImLinkRedirActivity" android:theme="@style/TranslucentStyle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="vk.com" android:pathPattern="/share.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/settings.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/mail.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/stickers.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/restore.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/support.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/help.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/payments.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/write.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/im.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/story.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/narrative.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/call.*" android:scheme="http"/>
                <data android:host="vk.com" android:pathPattern="/share.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/settings.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/mail.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/stickers.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/restore.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/support.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/help.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/payments.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/write.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/im.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/story.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/narrative.*" android:scheme="https"/>
                <data android:host="vk.com" android:pathPattern="/call.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/share.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/settings.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/mail.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/stickers.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/restore.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/support.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/help.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/payments.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/write.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/im.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/story.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/narrative.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/call.*" android:scheme="http"/>
                <data android:host="vkontakte.ru" android:pathPattern="/share.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/settings.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/mail.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/stickers.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/restore.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/support.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/help.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/payments.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/write.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/im.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/story.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/narrative.*" android:scheme="https"/>
                <data android:host="vkontakte.ru" android:pathPattern="/call.*" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="vk.me" android:pathPattern=".*" android:scheme="http"/>
                <data android:host="vk.me" android:pathPattern=".*" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="m.vk.com" android:pathPattern="/restore" android:scheme="http"/>
                <data android:host="m.vk.com" android:pathPattern="/restore" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.com.vkontakte.android.sendmsg"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.com.vkontakte.android.profile"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.com.vkontakte.android.voipcall"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.vk.messenger.providers.im" android:exported="true" android:name="com.vkontakte.android.im.bridge.contentprovider.ImContentProvider" android:permission="com.vkontakte.android.permission.ACCESS_DATA"/>
        <provider android:authorities="com.vkim.common.VKFileProvider" android:exported="false" android:grantUriPermissions="true" android:name="com.vk.messenger.files.VkImFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <service android:enabled="true" android:exported="true" android:name="com.vk.pushes.FirebasePushService" android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.vk.pushes.VkFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.vk.contacts.ImContactsSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/im_sync_contacts"/>
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/im_contacts_custom_type"/>
        </service>
        <service android:name="com.vk.voip.VoipService"/>
        <service android:name="com.vkontakte.android.audio.player.PlayerService"/>
        <service android:exported="false" android:name="com.vkontakte.android.sync.im.VkImSyncService"/>
        <service android:exported="false" android:name="com.vkontakte.android.sync.online.VkOnlineService"/>
        <receiver android:name="com.vk.pushes.NotificationActionsReceiver"/>
        <receiver android:name="com.vk.pushes.NotificationDeleteReceiver"/>
        <receiver android:name="com.vk.voip.VoipActionsReceiver"/>
        <service android:name="com.vk.audio.AudioMessagePlayerService"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="false" android:label="" android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity" android:theme="@style/EasyPermissions.Transparent"/>
        <activity android:name="com.vk.api.sdk.ui.VKWebViewAuthActivity" android:theme="@style/VK.Transparent"/>
        <activity android:name="com.vk.api.sdk.ui.VKCaptchaActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.vk.api.sdk.ui.VKConfirmationActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.vk.messenger.VKInitProvider" android:exported="false" android:name="com.vk.api.sdk.internal.VKInitProvider"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.my.target.common.MyTargetActivity"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <provider android:authorities="com.vk.messenger.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <service android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.component.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <meta-data android:name="io.fabric.ApiKey" android:value=""/>
        <meta-data android:name="net.hockeyapp.android.appIdentifier" android:value=""/>
        <meta-data android:name="net.hockeyapp.android.appSecret" android:value=""/>
        <receiver android:exported="true" android:name="ly.count.android.sdk.ReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.vk.messenger.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="net.hockeyapp.android.UpdateActivity"/>
        <activity android:name="net.hockeyapp.android.FeedbackActivity"/>
        <activity android:name="net.hockeyapp.android.PaintActivity"/>
        <activity android:name="net.hockeyapp.android.LoginActivity"/>
        <activity android:name="net.hockeyapp.android.ExpiryInfoActivity"/>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.twitter.sdk.android.core.identity.OAuthActivity"/>
        <service android:exported="false" android:name="ru.mail.libverify.gcm.GcmMessageHandlerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="ru.mail.libverify.gcm.GcmInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="ru.mail.libverify.gcm.GcmRegisterService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="ru.mail.libverify.gcm.GcmMessageDeliverService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="ru.mail.libverify.sms.SmsRetrieverReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="ru.mail.libverify.sms.SmsRetrieverService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:enabled="false" android:exported="true" android:name="ru.mail.libverify.sms.IncomingSmsReceiver" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="false" android:exported="true" android:name="ru.mail.libverify.sms.IncomingCallReceiver" android:permission="android.permission.READ_PHONE_STATE">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="ru.mail.libverify.sms.SmsHandlingService" android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="ru.mail.sms.SmsHandlingService"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="true" android:name="ru.mail.libverify.ipc.IpcMessageService" android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="ru.mail.libverify.ipc.IpcMessageService"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="true" android:name="ru.mail.libverify.ipc.IpcNotificationService" android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="ru.mail.libverify.ipc.IpcNotificationService"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name="ru.mail.libverify.notifications.NotificationService">
            <intent-filter>
                <action android:name="ru.mail.notifications.NotificationService"/>
            </intent-filter>
        </service>
        <activity android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="ru.mail.libverify.notifications.SettingsActivity" android:noHistory="true" android:taskAffinity="ru.mail.libverify.notifications.SettingsActivity" android:theme="@style/libverify.Theme.Settings"/>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="ru.mail.libverify.notifications.SmsCodeNotificationActivity" android:noHistory="true" android:taskAffinity="ru.mail.libverify.notifications.SmsCodeNotificationActivity" android:theme="@style/libverify.Theme.Custom.Popup" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="ru.mail.libverify.notifications.SmsDialogsActivity" android:taskAffinity="ru.mail.libverify.notifications.SmsDialogsActivity" android:theme="@style/libverify.Theme.Settings"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="ru.mail.libverify.notifications.SmsMessagesActivity" android:parentActivityName="ru.mail.libverify.notifications.SmsDialogsActivity" android:taskAffinity="ru.mail.libverify.notifications.SmsDialogsActivity" android:theme="@style/libverify.Theme.Settings">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".notifications.SmsDialogsActivity"/>
        </activity>
        <receiver android:name="ru.mail.libverify.utils.NetworkStateReceiver"/>
        <receiver android:name="ru.mail.libverify.utils.network.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="ru.mail.libverify.utils.VerificationService"/>
        <service android:enabled="true" android:exported="false" android:name="ru.mail.libverify.utils.network.NetworkCheckService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:label="PackageStateReceiver:184" android:name="ru.mail.libverify.utils.PackageStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_MY_PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="ru.mail.libverify.utils.PackageStateReceiver"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:label="VerificationCheckService" android:name="ru.mail.libverify.fetcher.FetcherService"/>
        <service android:enabled="true" android:exported="false" android:label="VerificationCheckService" android:name="ru.mail.libverify.fetcher.FetcherJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="true" android:exported="false" android:name="ru.mail.libverify.utils.SettingsCheckService"/>
        <service android:enabled="true" android:exported="false" android:name="ru.mail.libverify.utils.SettingsCheckJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:enabled="false" android:name="ru.mail.libverify.utils.SystemRestartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="ru.mail.libverify.utils.AlarmReceiver"/>
        <activity android:name="ru.mail.libverify.utils.permissions.ShadowActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:name="receivers.TimeSyncRequestedReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.vk.instantjobs.services.JobsBackgroundService" android:stopWithTask="false"/>
        <service android:enabled="true" android:exported="false" android:name="com.vk.instantjobs.services.JobsForegroundService" android:stopWithTask="false"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.vk.instantjobs.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.vk.messenger.UsersContentProvider" android:exported="true" android:name="com.vk.usersstore.UsersContentProvider" android:readPermission="com.vk.usersstore.permission.LOAD" android:writePermission="com.vk.usersstore.permission.SAVE"/>
        <provider android:authorities="com.vk.messenger.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <uses-library android:name="android.test.runner"/>
    </application>
</manifest>